@page "/"

<h1>WEB ASSEMBLY INTERFACE</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<br/>
<br />

<RepeaterComponent @ref="repeater" Items="customers">
    <Header>
        <h2>Customers</h2>
    </Header>
    <Row Context="customer">
        <div class="ml-7">
            <b>@customer.CompanyName</b>
            &nbsp;
            <button class="btn tbn-primary" @onclick="@(()=>
                                                        {
                                                            EditCustomer(customer);
                                                        })">Edit</button>
        </div>
        <div class="ml-5">@customer.ContactName</div>
        <div class="ml-5">@customer.PhoneNumber</div>
        <br />
    </Row>
    <EditTemplate Context="currentCustomer">
        <div>
            <text>Company name:</text><input class="form-control" @bind-value="currentCustomer.CompanyName" />
        </div>
        <div>
            <text>Contact name:</text><input class="form-control" @bind-value="currentCustomer.ContactName" />
        </div>
        <div>
            <text>Phone number:</text><input class="form-control" @bind-value="currentCustomer.PhoneNumber" />
        </div>
    </EditTemplate>
</RepeaterComponent>

@code
{     
    private RepeaterComponent<Customer> repeater;
    private List<Customer> customers;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        customers = new List<Customer>();
        customers.AddRange(new Customer[]
        {
            new Customer {CompanyName="ABC Company", ContactName="Frank liu", PhoneNumber="867627272"},
             new Customer {CompanyName="DFG Company", ContactName="Paul mac", PhoneNumber="0988333333"},
              new Customer {CompanyName="DDD Company", ContactName="Dave foo", PhoneNumber="39838333"}
            });
    }

    private void EditCustomer(Customer customer)
    {
        repeater.ItemToEdit = customer;
    }

    class Customer
    {
        public string CompanyName { get; set; }
        public string ContactName { get; set; }
        public string PhoneNumber { get; set; }
    }
}